$primary-color: #22313f;
$secondary-color: #e4f1fe;
$erisingColor: #63a163;
$erisingSecondaryColor: #ffd36a;
$fccColor: #0a0a23;
$fccSecondaryColor: #f1be32;
$fidgroveColor: #eaeaea;
$fidgroveSecondaryColor: #15223f;

// FONTS VARIABLES

$font-karla: 'Karla';
$font-sofiapro: 'SofiaPro';
